#main {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
}
body{
    background-color:black;
}

#colonne1{ 
    display:flex;
    justify-content: flex-start;
    position: fixed;
    top: 0%;
    left: 0%;
    width:30.55VW;
    height: 50vw;
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: #2f3336;
}
#colonne2{ 
    width:10VW;
    height: 100vw;
    background-color: green;
    border-style: solid;
    border-width: 1px;
    border-color: #2f3336;
}
#colonne3{ 
    position: sticky;
    top: 0%;
    right: 0%;
    width:10VW;
    height: 55vw;
    background-color: blue;
    border-style: solid;
    border-width: 1px;
    border-color: #2f3336;
}

